@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 10px;
}

.header-container img{
    height: 40%;
}

.header-container span{
    font-size: 5rem;
    font-weight: 650;
    font-family: "Poppins", sans-serif;
}

/* Mobile view styles */
@media (max-width: 500px) {
    .header-container{
        display: none;
    }
}